.Logo {
    -fx-fill: #f0f0f0;
}

.anchorPane {
    -fx-background-color: #25252e;
}

.Title {
    -fx-fill: #f0f0f0;
    -fx-font-family: "Georgia Pro Semibold";
    -fx-font-size: 15px;
}

.ErrorText {
    -fx-fill: #ff0000;
    -fx-font-family: "Georgia Pro Semibold";
    -fx-font-size: 10px;
}

.TextField {
    -fx-font-family: "Georgia Pro Semibold";
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #989898;
    -fx-font-size: 15px;
    -fx-background-color: #2c2c37;
    -fx-background-radius: 7px;
    -fx-border-color: #e3e3e3;
    -fx-border-radius: 7px;
    -fx-border-width: 0.2px;
}

.Button {
    -fx-font-family: "Georgia Pro Semibold";
    -fx-font-size: 15px;
    -fx-fill: #25252e;
    -fx-background-color: #ffffff;
    -fx-background-radius: 7px;
}
.ScrollPane {
    -fx-background-color: #25252e;
    -fx-border-color: #e3e3e3;
    -fx-border-radius: 7px;
    -fx-border-width: 0.2px;
}
.VBox{
    -fx-background-color: #25252e;
}

.SendText{
    -fx-background-color: #2c2c37;
    -fx-background-radius: 5px;
    -fx-fill: #f0f0f0;
    -fx-font-family: "Georgia Pro Semibold";
    -fx-font-size: 15px;
}
.ReceiveText{
    -fx-background-color: #17554d;
    -fx-background-radius: 5px;
    -fx-fill: #f0f0f0;
    -fx-font-family: "Georgia Pro Semibold";
    -fx-font-size: 15px;
}

.CountText{
    -fx-fill: #00fff7;
    -fx-font-family: "Georgia Pro Semibold";
    -fx-font-size: 15px;
}
